
@{
	ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignUp</h2>

<div class="row">
	<div class="col-lg-offset-3 col-md-3">
		<form action="/Login/SignUp" method="post">
			<input type="text" name="username" class="form-control form-item" placeholder="Username" />
			<input type="password" name="password" class="form-control form-item" placeholder="Password" />
			<input type="password" name="conPassword" class="form-control form-item" placeholder="Confirm Password" />
			<span class="col-lg-offset-3 red" style="color: red;">@ViewData["input_error"]</span>
			<span class="col-lg-offset-2 red" style="color: red;">@ViewData["input_error1"]</span>
			<span class="col-lg-offset-1 red" style="color: red;">@ViewData["input_error2"]</span>
			<button type="submit" class="form-control form-item btn btn-primary">Submit</button>
		</form>
	</div>
</div>